<p>login works!</p>

<form>
  <div class="example-container">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Username</mat-label>
      <input
        [(ngModel)]="loginRequest.username"
        class="example-right-align"
        matInput
        name="username"
        placeholder="firstname.lastname@example.com"
        type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Enter your password</mat-label>
      <input
        [(ngModel)]="loginRequest.password"
        [type]="hide ? 'password' : 'text'"
        matInput name="password">
      <button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
        mat-icon-button
        matSuffix>
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button
    (click)="doLogin()"
    mat-raised-button
  >
    Login
  </button>
</form>

<button routerLink="/home">Home</button>
